@page "/"

<PageTitle>Home</PageTitle>

<h1>Library Management System</h1>

<p>Welcome to the library management system (LMS). To view book, user, and checkout information select the appropriate option on the right-hand side.</p> 

<h2>Book Page</h2>
<p>The book page by default shows a list of all books currently in the system. To search for a specific book, a search bar is provided at the top to search for specific titles.</p>

<h2>User Page</h2>
<p>The user page displays an information table containing all user records in the system. Users can be searched for at the top of the page by name.</p>

<h2>Checkout Page</h2>
<p>The checkout page displays another table containing the information of active checkouts from the library. When a book is returned, simply click return to automatically adjust inventory and remove the checkout from the system.</p>

@code {
    
}