@page "/users"
@using LibraryMgmtSys.Models
@using LibraryMgmtSys.Services
@inject NavigationManager Nav
@inject IAPIService API
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<button>Create User</button>

<table>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>User Role</th>
    </tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.id</td>
            <td>@user.username</td>
            <td>@user.role</td>
        </tr>
    }
</table>

@code {
    private List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        users = await API.GetUsersAsync();
    }
}
